20260721_combined_animals.csv
meridian_biodiversidade_aves.xlsx
meridian_biodiversidade_mamiferos.xlsx
meridian_biodiversidade_plantas.xlsx
~$meridian_biodiversidade_plantas.xlsx
.DS_Store
20260723_combined_animals.csv
